<h3>Add contacts</h3>

<table class="table table-responsive table-condensed table-hover" style="display: block;">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody style="display: inline-block; height: 250px !important;">
        <tr ng-repeat="item in modalOptions.contacts">
            <td style="width: 50px;">
                <input type="checkbox" icheck class="flat" id="{{item.id}}" ng-change="addContacts(item)" ng-model="item.checked"
                />
            </td>
            <td style="width: 300px;" ng-bind="item.jobTitle"></td>
            <td>{{item.firstName}}, {{item.lastName}}</td>
        </tr>
    </tbody>
</table>