<div id="inboxView" class="box box-default">
    <div class="box-header with-border">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group top-search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="draftsFilter">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
        <div class="box-tools pull-right">
            <h3 class="m-r-md">Drafts</h3>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="mailbox-controls m-l-n-xs">
            <div class="btn-group m-l-sm">
                <button ng-show="drafts.length>0" type="button" class="btn btn-default btn-sm m-r-xs" data-toggle="tooltip" data-placement="top" title="Select all" ng-click="toggleCheckDraftsAll()">
                    <i class="fa" ng-class="{'fa-check-square-o':draftsIsChecked, 'fa-square-o':!draftsIsChecked}"></i>
                </button>
                <button ng-show="draftsHasChecked > 0" type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Move to Trash" ng-click="deleteDraftsChecked()"><i class="fa fa-trash-o"></i></button>
            </div>

        </div>
        <div ng-show="drafts.length>0" class="table-responsive">
            <table class="table table-hover mailbox-messages">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="hidden-xs"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="mail in drafts | filter : draftsFilter | orderBy : '-created' track by $index" ng-class="{'mail-selected':mail.isChecked}">
                        <td class="mailbox-check hidden-xs p-t-xs p-b-xs">
                            <input type="checkbox" icheck theme="flat" id="{{mail.id}}" ng-change="updateDraftsChecked(mail)" ng-model="mail.isChecked" />
                        </td>
                        <td class="mailbox-name p-t-xs p-b-xs"><a href="javascript:void(0);" ng-bind="mail.email" ng-click="readSDraftsMail(mail)"></a></td>
                        <td class="p-t-xs p-b-xs" ng-click="readSDraftsMail(mail)">{{::mail.subject}}</td>
                        <td class="mailbox-attachment hidden-xs p-t-xs"><i class="fa fa-paperclip" ng-show="mail.hasAttachment"></i></td>
                        <td class="mailbox-date p-t-xs p-b-xs">{{mail.created | date : 'MMM d HH:MM'}}</td>
                    </tr>
                </tbody>

            </table>
            <!-- /.table -->
        </div>
        <div ng-show="drafts.length==0" class="m-md">
            <div class="callout callout-warning">
                <h4>Folder is empty !</h4>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<!-- /. box -->
<script>
    $(function () {
        // Have to manually activate bootstrap tooltip.
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>