<div class="col-md-12 profile_details">
        <h4 class="brief">{{modalOptions.model.title}}</h4>
        <div class="left col-xs-8">
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-phone"></i> Phone: {{::modalOptions.model.phone}}</li>
                <li>
                    <i class="fa fa-mobile"></i> Mobile: {{::modalOptions.model.mobile}}</li>
                <li>
                    <i class="fa fa-envelope-o"></i> Email: {{::modalOptions.model.email}}</li>
            </ul>
        </div>
        <div class="right col-xs-4 text-center">
            <img src="{{::modalOptions.model.avatar}}" alt="" class="img-circle img-responsive">
        </div>
    </div>
</div>