<!-- Main content -->
<section class="content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <!-- Default box -->
            <div class="box box-info" id="box1">
                <div class="box-header with-border">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group top-search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." ng-model="companyFilter">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <a ui-sref="companydetails({id: 0, action: '{{action.create}}',view: 2})" href="javascript:void(0)" class="btn btn-info btn-xs pull-right"
                            uib-tooltip="New Company">
                            <i class="fa fa-plus-square-o"></i> New Company</a>
                    </div>
                </div>
                <div class="box-body">
                    <table ng-if="companies.length > 0" class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Status</th>

                                <th>
                                    <a href="javascript:void(0)" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                        Name
                                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-chevron-down"></span>
                                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-chevron-up"></span>
                                    </a>
                                </th>
                                <th>Address</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="company in companies | orderBy:sortType:sortReverse | filter : companyFilter">
                                <td></td>
                                <td>
                                    <status-label status="{{company.status}}"></status-label>
                                </td>
                                <td>
                                    <span ng-bind="company.name"></span>
                                </td>
                                <td>
                                    <span ng-bind="company.address"></span>
                                </td>
                                <td>
                                    <span ng-bind="company.country"></span>
                                </td>
                                <td>
                                    <span ng-bind="company.phone"></span>
                                </td>
                                <td>
                                    <span ng-bind="company.email"></span>
                                </td>
                                <td>
                                    <!-- <a href="javascript:void(0)" class="btn btn-xs btn-danger pull-right" ng-click="deleteCompany(company.id)" uib-tooltip="Delete Company">
                                        <i class="fa fa-close"></i>
                                    </a> -->
                                    <a href="javascript:void(0)" class="btn btn-xs btn-default pull-right m-l-xxs m-r-xxs" ng-click="editCompany(company.id,2,2)"
                                        uib-tooltip="Edit Company">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-xs btn-default pull-right" ng-click="displayCompany(company.id,1,2)" uib-tooltip="Display Company">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="companies.length===0" class="alert alert-warning">
                        <i class="fa fa-warning"></i>
                        <span class="font-size-18"> Warning</span>
                        <h3>Could not find any companies.</h3>
                        <span class="font-bold">Please create a new company and try again.</span>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- / col -->
    </div>
    <!-- / row -->
</section>
<!-- /.content -->
<script>
    // Bootstrap tooltip needs to be activated manually
    // $(function () {
    //     $('[data-toggle="tooltip"]').tooltip();
    // });
</script>