<div class="col-md-6 col-sm-6 col-xs-12">
    <h4>Contacts:</h4>
    <table id="contacts" class="table table-hover table-responsive table-condensed">
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>
                    <a href="javascript:" class="btn btn-info btn-xs pull-right" title="Add contact" ng-click="addContact()" data-toggle="tooltip"
                        data-placement="top">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in project.contacts track by $index">
                <td ng-bind="contact.jobTitle"></td>
                <td>{{contact.firstName}} {{contact.lastName}}</td>
                <td>
                    <a href="javascript:" class="btn btn-xs btn-danger pull-right m-l-xs" title="Remove Contact" ng-click="deleteContact(contact)"
                        data-toggle="tooltip" data-placement="top">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a href="javascript:" class="btn btn-xs btn-default pull-right" title="View Contact" ng-click="displayContact(contact)" data-toggle="tooltip"
                        data-placement="top">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>