<!-- Main content -->
<section class="content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group top-search">
            <div class="input-group" style="padding-left:20px;">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="contactsFilter">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a ui-sref="contactdetailsv1({type:1,return:2,id:0})" href="javascript:void(0)" class="btn btn-info btn-xs pull-right" title="New Contact">
                <i class="fa fa-plus-square-o"></i> New contact
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-repeat="item in contacts | filter : contactsFilter track by $index">
            <!-- Usercard -->
            <div class="user-card">
                <img src="{{item.avatar}}" alt="avatar" style="width:100%;">
                <h2>{{item.firstName}} {{item.lastName}}</h2>
                <p class="user-title">{{item.title}}</p>
                <p>{{item.company}}</p>
                <div style="margin: 24px 0;">
                    <a href="#" class="user-social">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    <a href="#" class="user-social">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="user-social">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#" class="user-social">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <p>
                    <button ng-click="displayContact(item.id,3)" class="user-button">Contact</button>
                </p>
            </div>
            <!-- / Usercard -->
        </div>
    </div>
</section>
<!-- /.content -->