<!-- Main content -->
<section class="content animated fadeInRight">
    <div class="row">   
        <div class="col-lg-12">
            <!-- Default box -->
            <div class="box box-white" id="box1">
                <div class="box-header">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group top-search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." ng-model="contactsFilter">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <a ui-sref="contactdetailsv1({type:1,return:1,id:0})" href="javascript:void(0)" class="btn btn-info btn-xs pull-right" title="New Contact">
                            <i class="fa fa-plus-square-o"></i> New contact
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-3" ng-repeat="item in contacts | filter : contactsFilter track by $index">
                            <!-- Contact box -->
                            <div class="contact-box center-version">
                                <button ng-click="displayContact(item.id,1)" class="btn btn-outline btn-default pull-right m-r-sm m-t-sm" data-toggle="tooltip"
                                        data-placement="top" title="Edit contact">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <a href="javascript:void(0)">
                                    <contact-avatar avatar="{{item.avatar}}"></contact-avatar>
                                    <h4 class="m-b-xs">
                                        <strong>{{item.firstName}} {{item.lastName}}</strong>
                                    </h4>
                                    <div class="font-bold">{{item.title}}</div>
                                    <address class="m-t-xs">
                                        <span ng-if="item.phone">
                                            <i class="fa fa-phone"></i> {{item.phone}}
                                        </span>
                                        <br />
                                        <span ng-if="item.mobile">
                                            <i class="fa fa-mobile"></i> {{item.mobile}}
                                        </span>
                                        <br />
                                        <span ng-if="item.email">
                                            <i class="fa fa-envelope-o"></i> {{item.email}}
                                        </span>
                                    </address>
                                </a>
                                <div class="contact-box-footer">
                                    <div class="btn-group">
                                        <a href="javascript:void(0)" class="btn btn-xs btn-default m-r-xs">
                                            <i class="fa fa-phone"></i> Call
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-xs btn-default m-r-xs">
                                            <i class="fa fa-envelope"></i> Email
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-xs btn-default m-r-xs">
                                            <i class="fa fa-user-plus"></i> Follow
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <!-- / Contact box -->
                        </div>
                        <!-- / col -->
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    // Bootstrap tooltip needs to be activated manually
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>