<div class="row">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Basic Scatter chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('basic');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-scatter" style="width: 100%;">
                    <canvas id="canvas-scatter" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Multi Axis Scatter chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('multi');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-multi-axis" style="width: 100%;">
                    <canvas id="canvas-multi-axis" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
</div>
<!-- / row -->

<div class="row">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Doughnut chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('doughnut');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-doughnut" style="width: 100%;">
                    <canvas id="canvas-doughnut" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Pie chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('pie');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-pie" style="width: 100%;">
                    <canvas id="canvas-pie" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
</div>
<!-- / row -->

<div class="row">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Radar chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('radar');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-radar" style="width: 100%;">
                    <canvas id="canvas-radar" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Polar Area chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('polar');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-polar" style="width: 100%;">
                    <canvas id="canvas-polar" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
</div>
<!-- / row -->

<div class="row">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Combo Bar Line chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('combo');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-combo" style="width: 100%;">
                    <canvas id="canvas-combo" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Bubble chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('bubble');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-bubble" style="width: 100%;">
                    <canvas id="canvas-bubble" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
</div>
<!-- / row -->

<div class="row">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Radar Skip Points chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('radar-skip');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-radar-skip" style="width: 100%;">
                    <canvas id="canvas-radar-skip" height="100"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Animation Progress Bar chart</h3>
                <div class="box-tools pull-right">
                    <button ng-click="other.randomizeScatterData('progress');" class="btn btn-primary btn-sm">Randomize Data</button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="container-progress" style="width: 100%;">
                    <canvas id="canvas-progress" height="100"></canvas>
                    <progress id="animationProgress" max="1" value="0" style="width: 100%"></progress>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /col -->
</div>
<!-- / row -->